<div class="promo-card">
  <div class="promo-card__header">
    <h3 style="color:#1C408A">العرض الترويجي الحالي</h3>
  </div>

  <div class="promo-card__banner">
    <div class="promo-card__glow"></div>
     <div class="container">
       <div class="promo-card-image">
      <img src="assets/image/988f576ae839f004cd0928e77dc51f06c730dcd9 (1).png" width="90%" style="    margin-right: -22%;">
     </div>
     <div class="promo-card__content">
      <span class="promo-card__title">خصم خاص</span>
      <span class="promo-card__discount">20%</span>
      <span class="promo-card__desc">على جميع طلبات الصيانة</span>
      <button class="promo-card__cta" type="button">عرض التفاصيل</button>
    </div>
     </div>
  </div>
</div>
