<div class="activity-card">
  <div class="activity-card__header">
    <h3>أحدث الطلبات</h3>
    <button class="activity-card__menu" type="button" aria-label="خيارات">
       عرض الكل
    </button>
  </div>

  <ul class="activity-card__list">
    <li *ngFor="let item of items">
         <span class="activity-card__ring">
          <img src="assets/image/99cd3b814c306c3fbf648b112e0d89047fbc5548.jpg" width="100%" style="border-radius: 50%;">
         </span>

       <span class="activity-card__name">
        {{ item.type }}
       </span>

       <span class="activity-card__name">
        {{ item.name }}
       </span>

      <span class="activity-card__date">{{ item.date }}</span>
      <span class="activity-card__badge" [class]="'status-' + item.status">
        {{ statusLabel(item.status) }}
      </span>

     

   
    </li>
  </ul>
</div>
